<h1>タスク一覧</h1>
<ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.title, task %>|<%= link_to "削除", task, method: :delete %></li>
  <% end %>
</ul>
<hr>

<h2>タスク登録</h2>
<% if @task.errors.any? %>
  <p><b><font color="red">【エラー内容】</font></b></p>
  <% @task.errors.full_messages.each do |message| %>
    <li><font color="red"><%= message %></font></li>
  <% end %>
  
<% end %>

<%= form_with model: @task, local: true do |form| %>
  <p>
    タイトル<br>
    <%= form.text_field :title %>
  </p>
  <p>
    内容<br>
    <%= form.text_area :body %>
  </p>

  <%= form.submit "Create Task" %>
<% end %>
